fastapi
starlette
uvicorn
jinja2
python-multipart
pydantic
langchain
langchain-community
langchain-huggingface
langgraph
langchain-groq

chromadb
sentence-transformers

easyocr
opencv-python
pymupdf
langgraph
langchain-groq

chromadb
sentence-transformers

easyocr
opencv-python
pymupdf
pillow
numpy

pandas
openpyxl

sqlalchemy

python-dotenv

httpx
itsdangerous
authlib
google-auth
google-auth-oauthlib
